{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
  <link rel="stylesheet" href="css/rank.min.css">
{% endblock %}

{% block content %}
  <main>
    {{ component.rank_nav('soft') }}
    <section class="list-wrap">
      <div class="list-box">
        {{ component.soft(rank_info, true) }}
      </div>
    </section>
  </main>
{% endblock %}

{% block script %}
  <script src="js/rank.min.js"></script>
{% endblock %}
