.autocomplete-suggestions {
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  overflow: auto;
  text-indent: 5px;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #c00;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.autocomplete-suggestion {
  position: relative;
  height: 3em;
  line-height: 3em;
  cursor: pointer;
  clear: both;
  display: block;
}

.autocomplete-suggestion em {
  color: #999;
  font-size: 12px;
  margin-left: 3px;
}

.autocomplete-suggestion img {
  height: 60%;
  float: right;
  margin-top: 0.6em;
  margin-right: 0.5em;
}