@import 'loading'

.recharge-box
    position fixed
    width 100%
    height 100%
    left 0px
    top 0px
    background-color rgba(0,0,0,.5)
    z-index 100
    .recharge-wrap
        width 900px
        height 680px
        position absolute
        left 0px
        top 0px
        right 0px
        bottom 0px
        margin auto
        background-color #fff
        border-radius 10px
        overflow hidden
        .recharge-close
            position absolute
            font-size 16px
            cursor pointer
            width 40px
            height 40px
            line-height 40px
            text-align center
            color #fff
            right 0px
            top 0px
        .recharge-type
            width 100%
            height 150px
            background-color theme_color
            text-align center
            p 
                display none
                color #fff
                font-size 24px
                line-height 70px
                &.active
                    display block
        .recharge-nav
            margin-top -80px
            text-align center
            font-size 0px
            span 
                font-size 18px
                display inline-block
                width 200px
                height 40px
                line-height 40px
                color #fff
                background linear-gradient(to right, #158fdd, #6bc6ff)
                cursor pointer
                &.active
                    background #fff
                    color theme_color
        .recharge-item-wrap
            background-color #fff
            border-radius 10px
            margin 0 30px
            padding 20px
            ul 
                display none
                &.active 
                    display flex
                li 
                    flex 1
                    border-right 1px solid #f4f4f4
                    max-width 33%
                    text-align center
                    cursor pointer
                    height 170px
                    &:last-child
                        border none 
                    &.active
                        background-color #F4FCFE
                        border-color transparent
                        button 
                            background-color theme_color
                            color #fff
                    .name
                        font-size 16px
                        line-height 2
                        display block 
                        margin 8px auto 0
                        color #333
                        position relative
                        em 
                            position absolute
                            width 80px
                            height 20px
                            line-height 20px
                            font-size 12px
                            text-align center
                            color #ffca13
                            left 50%
                            top -6px
                            margin-left 22px
                    .price
                        color #ffca13
                        line-height 64px
                        span  
                            vertical-align top
                        em  
                            font-size 30px
                    button 
                        width 100px
                        height 30px
                        box-shadow 0 2px 5px 0 rgba(0,0,0,.1)
                        color theme_color
                        border-radius 5px
                        margin 10px 0
                        cursor pointer
        .recharge-coupon
            margin 0px 30px 20px
            display flex
            .coupon-title
                font-size 16px
                width 70px
            .coupon-box
                width 100%
                position relative
                .coupon-cur
                    display block
                    width 100%
                    height 30px     
                    line-height 30px
                    background-color #F4FCFE 
                    padding 0 15px
                    color #999
                    position relative
                    cursor pointer
                    &::after 
                        content ""
                        position absolute
                        right 20px
                        border-top 10px solid #999
                        border-left 6px solid transparent
                        border-right 6px solid transparent
                        top 50%
                        margin-top -5px
                .coupon-swiper
                    position absolute
                    width 100%
                    height 150px
                    top 30px
                    background-color #fff
                    box-shadow 0 4px 10px 0 rgba(0,0,0,.1)
                    padding 15px 98px
                    display none
                    z-index 2
                    user-select none
                    &.active 
                        display block
                    .swipe-wrap
                        width 100%
                        height 100%
                        overflow hidden
                        ul 
                            width 2000px
                            transition all .2s
                            li  
                                float left
                                width 260px
                                height 120px
                                background linear-gradient(135deg, #82e2f7, #7ef2d3)
                                border-radius 5px
                                overflow hidden
                                color #fff
                                padding 20px
                                cursor pointer
                                margin-right 60px
                                border 2px solid #fff
                                &.active 
                                    border-color theme_color
                                .coupon-info
                                    .min-price
                                        margin-top 15px
                                        font-size 16px
                                .coupon-price
                                    em  
                                        vertical-align top
                                        display inline-block
                                    span 
                                        font-size 60px
                    .coupon-check
                        position absolute
                        width 100%
                        left 0
                        top 50%
                        margin-top -60px
                        height 0
                        span 
                            display block
                            height 120px
                            width 50px
                            text-align center
                            line-height 120px
                            font-size 40px 
                            cursor pointer
                            color #666
                            &.disabeld
                                cursor no-drop
        .recharge-pay
            border 1px dashed #eee
            text-align center
            padding 15px
            margin 0 30px
            position relative
            .recharge-need
                font-size 16px
                em  
                    color #ffca13
                    font-size 30px
            .recharge-paypal
                position absolute
                right 20px
                top 20px
                width 150px
                height 45px
                cursor pointer
                img 
                    width 100%
                    height 100%
            .recharge-paybox
                display flex
                justify-content center
                margin-top 20px
                font-size 16px
                .ewm-box
                    width 160px
                    height 160px
                    margin 0 80px
                    border 1px solid theme_color
                    margin-bottom 5px
                    img 
                        width 100%
                        height 100%
                .recharge-ali 
                    i
                        color theme_color
                .recharge-wx
                    .ewm-box
                        border-color #64D364
                    i  
                        color #64D364