.renew-box
	position fixed
	width 100%
	height 100%
	left 0px
	top 0px
	right 0px 
	bottom 0px
	margin auto 
	background-color rgba(0,0,0,.6)
	z-index 100	
	display none
	.renew-box
		position absolute
		display block
		width 600px 
		height 450px
		background-color #fff 
		border-radius 10px 
		padding 15px 37px 
		box-sizing border-box
		left 0px					
		top 0px
		right 0px 
		bottom 0px
		margin auto
		.close-renew
			position absolute
			width 30px 
			height 30px 
			border-radius 50%
			text-align center
			line-height 30px 
			color #fff 
			background-color rgba(0,0,0,.6)
			top -30px 
			right -30px 
			cursor pointer 
		.renew-price
			line-height 50px
			text-align center
			border 1px solid #FFA800
			margin-top 20px
			span 
				font-size 24px 
				color #FFA800
		.renew-title
			font-size 16px 
			margin-top 10px
		.renew-recharge
			text-align center
		.should-pay
			line-height 50px 
			text-align center					
			font-size 16px 
			span 
				color #FFA800
				font-size 24px
		.ewm-box
			display inline-block
			width 160px 
			margin 0 45px
			.ewm 
				height 160px 
				width 100%
				border 1px solid #E8E8E8
				padding 15px 
				box-sizing border-box
				img 
					width 100%
					height 100%
			p 
				line-height 40px 
				text-align center
				i 
					margin-right 5px
					font-size 20px 
					vertical-align text-bottom
				.icon-wxpay 
					color #00B700
				.icon-alipay
					color #1dbcf4