<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>
    {% block page_title %}
    {{ page_title|default('macw下载站素材下载-图片在线编辑') }}
    {% endblock %}
  </title>
  <meta name="keywords" content="{% block page_kw %}{{ page_kw|default('__netname下载') }}{% endblock %}">
  <meta name="description" content="{% block page_desc %}{{ page_desc }}{% endblock %}">
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/edit/styles.min.css">
  <link rel="stylesheet" href="css/edit.min.css">
</head>
<body>

  <pixie-editor>
    <div class="global-spinner">
      <div class="la-ball-spin-clockwise la-2x">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </pixie-editor>
  <script src="/assets/edit/scripts.min.js"></script>
  <script src="js/edit.min.js"></script>
</body>
</html>