/*
 * @Author: Liliang Zhu 
 * @Date: 2019-12-27 13:23:32 
 * @Last Modified by: Liliang Zhu
 * @Last Modified time: 2019-12-27 15:35:01
 * 装机必备
 */

@import 'components/common';
@import 'modules/list-nav';

@import 'modules/necessary';

.list-nav {
  .list-nav_cate .list-nav_links a {
    padding: 0 15px;
    min-width: unset;
  }
}

section.necessary {
  h2 {
    text-align: center;
    font-size: 22px;
    margin-top: 40px;

    img {
      display: inline-block;
      height: 20px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  ul {
    li {
      .necessary;
    }
  }
}