/*
 * @Author: Liliang Zhu 
 * @Date: 2019-11-19 11:10:27 
 * @Last Modified by: Liliang Zhu
 * @Last Modified time: 2019-11-19 13:30:04
 */

@import 'components/common';
@import 'modules/topic-plugin';
@import 'modules/topic-soft';
@import 'modules/topic-template';
@import 'modules/topic-wallpaper';
@import 'modules/topic-article';

section {
  margin-bottom: 30px;

  .sec-title {
    height: 54px;
    line-height: 54px;

    h2,
    h3 {
      font-size: 22px;
      display: inline-block;
    }

    div,
    a {
      float: right;
      color: @theme-color;
    }
  }

  &.topic-classify {
    .classify-nav {
      line-height: 46px;

      a {
        font-size: 17px;
        display: inline-block;
        padding: 0 5px;
        border-bottom: 2px solid transparent;
        margin-right: 55px;

        img {
          display: inline-block;
          width: 22px;
          margin-right: 10px;
          vertical-align: text-bottom;
        }

        &.active {
          color: @theme-color;
          border-color: @theme-color;
        }
      }
    }

    ul {
      li {
        display: none;

        &.active {
          display: block
        }

        a {
          display: inline-block;
          font-size: 16px;
          width: 185px;
          height: 50px;
          line-height: 50px;
          margin-right: 17px;
          margin-top: 20px;
          text-align: center;
          border-radius: 5px;
          transition: all .2s;
          .shadow(@color: #eaefea);

          &:nth-child(6n) {
            margin-right: 0;
          }
          
          &:hover {
            background-color: @theme-color;
            color: #fff;
          }
          
          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            display: inline-block;
            vertical-align: text-bottom;
          }
        }
      }
    }
  }

  &.boutique-soft {
    ul li {
      .topic-soft;
    }
  }

  &.boutique-plugin {
    ul li {
      .topic-plugin;
    }
  }

  &.boutique-template {
    ul li {
      .topic-template;
    }
  }

  &.boutique-wallpaper {
    ul li {
      .topic-wallpaper;
    }
  }

  &.boutique-article {
    ul li {
      .topic-article;
    }
  }
}