/*
 * @Author: Liliang Zhu 
 * @Date: 2019-11-19 16:17:14 
 * @Last Modified by: Liliang Zhu
 * @Last Modified time: 2020-02-26 14:46:35
 */

@import 'components/common';

h1 {
  font-size: 30px;
  text-align: center;
}

.vip-type {
  text-align: center;
  font-size: 0;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;

  span {
    display: inline-block;
    font-size: 17px;
    width: 150px;
    background-color: #F4F4F4;
    cursor: pointer;

    &:first-child {
      border-radius: 10px 0 0 0;
    }

    &:last-child {
      border-radius: 0 10px 0px 0;
    }

    &.active {
      background-color: @theme-color;
      color: #fff;
    }
  }
}

.vip-wraps {
  height: 270px;
  width: 99.99%;
  position: relative;
  border: 1px solid #EBEBEB;

  ul {
    height: 100px;
    background-color: @theme-color;
    display: none;

    &.active {
      display: flex;
    }

    .item {
      flex: 1;
      height: 100%;
      padding: 20px 0;
      border-radius: 20px 20px 0 0;
      background-color: @theme-color;
      cursor: pointer;

      &:first-child {
        border-radius: 0 20px 0 0;

        .item-title {
          i.i-left {
            display: none;
          }
        }
      }

      &:last-child {
        border-radius: 20px 0 0 0;

        .item-title {
          &::after {
            display: none;
          }

          i.i-right {
            display: none;
          }
        }
      }

      &.active {
        background-color: #fff;

        .recharge-icon {
          color: @theme-color;
        }

        .item-title {
          color: #333;

          &::after {
            display: none;
          }

          i {
            display: block;
          }
        }

        .item-infos {
          display: block;
        }
      }

      .item-title {
        text-align: center;
        position: relative;
        color: #fff;
        height: 60px;

        .title {
          font-size: 22px;
          font-weight: 400;
        }

        .recharge-icon {
          position: absolute;
          font-size: 44px;
          left: 50%;
          margin-left: -125px;
          top: 50%;
          margin-top: -25px;
        }

        &::after {
          content: "";
          position: absolute;
          right: -1px;
          top: 0;
          height: 100%;
          width: 1px;
          background-color: #fff;
        }

        i {
          display: none;

          &.i-right {
            position: absolute;
            right: -20px;
            bottom: -20px;
            border-bottom: 20px solid #fff;
            border-right: 20px solid transparent;

            &::before {
              content: "";
              position: absolute;
              width: 40px;
              height: 40px;
              background-color: @theme-color;
              border-radius: 20px;
              left: 0px;
              top: -20px;
            }
          }

          &.i-left {
            position: absolute;
            left: -20px;
            bottom: -20px;
            border-bottom: 20px solid #fff;
            border-left: 20px solid transparent;

            &::before {
              content: "";
              position: absolute;
              width: 40px;
              height: 40px;
              background-color: @theme-color;
              border-radius: 20px;
              right: 0px;
              top: -20px;
            }
          }
        }
      }

      .item-infos {
        position: absolute;
        width: 100%;
        height: 170px;
        top: 100px;
        left: 0;
        padding: 40px 0 0;
        display: none;

        .price {
          float: left;
          width: 33%;
          text-align: center;
          margin-right: 50px;
          margin-top: 10px;

          span {
            font-size: 30px;
            color: @money-color;
          }

        }

        ol {
          overflow: hidden;

          &.ol-fl {
            li {
              float: left;
              width: 50%;
            }
          }

          li {
            font-size: 16px;
            line-height: 2;
            position: relative;
            padding-left: 20px;

            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -5px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: @theme-color;
            }
          }
        }
      }
    }
  }
}

.pay-box {
  section {
    box-sizing: border-box;
    background-color: #fff;
  }

  .coupon {
    border: 1px solid #e8e8e8;
    border-top: none;
    border-bottom: none;
    line-height: 40px;
    padding: 25px 40px;

    .should-pay {
      float: left;
      margin-right: 25px;
      font-size: 18px;

      span {
        color: @money-color;
      }
    }

    .coupon-txt {
      font-size: 16px;
      float: left;
    }

    ul {
      overflow: hidden;
      padding-right: 4px;
      overflow-y: auto;
      max-height: 80px;

      &::-webkit-scrollbar-track {
        background-color: #eee;
      }

      &::-webkit-scrollbar {
        width: 6px;
        background-color: #eee;
      }

      &::-webkit-scrollbar-thumb {
        background-color: @theme-color;
      }

      &>p {
        font-size: 18px;
        color: #999;
      }

      li {
        width: 30%;
        float: left;
        margin-right: 35px;
        padding-left: 30px;
        position: relative;
        font-size: 16px;
        cursor: pointer;

        &:nth-child(3n) {
          margin-right: 0;
        }

        &.active {
          i {
            border-color: @theme-color;

            &::after {
              opacity: 1;
            }
          }
        }

        i {
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -10px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #999;

          &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: @theme-color;
            top: 50%;
            left: 50%;
            margin-left: -6px;
            margin-top: -6px;
            opacity: 0;
          }
        }

        span {
          padding-right: 10px;

          em {
            color: @money-color;
          }
        }
      }
    }
  }
}

.pay {
  border: 1px solid #e8e8e8;
  padding-bottom: 20px;
  text-align: center;

  .pay-tips {
    line-height: 60px;
    text-align: center;
    font-size: 16px;

  }

  .ewm-box {
    display: inline-block;
    width: 160px;
    margin: 0 18px;

    .ewm {
      height: 160px;
      width: 100%;
      border: 1px solid #E8E8E8;
      padding: 15px;
      box-sizing: border-box;

      img {
        width: 100%;
        height: 100%;
      }
    }


    .paypal {
      height: 160px;
      line-height: 160px;
      text-align: center;
      font-size: 0;
      position: relative;

      span {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 25px;
        color: @money-color;
        text-align: center;
        font-size: 14px;
        line-height: 2;
      }

      img {
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
      }

    }

    p {
      line-height: 40px;
      text-align: center;

      img {
        vertical-align: middle;
        margin-right: 5px;
      }

      i {
        margin-right: 5px;
        font-size: 20px;
        vertical-align: text-bottom;
      }

      .icon-wxpay {
        color: #00B700;
      }

    }

  }

  .to-login {
    height: 160px;
    width: 100%;
    border: 1px solid #E8E8E8;
    padding: 15px;
    box-sizing: border-box;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    p {
      position: absolute;
      width: 128px;
      height: 128px;
      top: 15px;
      left: 15px;
      background-color: rgba(0, 0, 0, .8);
      color: #fff;
      line-height: 128px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.recharge-tips {
  h3 {
    font-size: 20px;
    margin: 30px 0 20px;
  }

  ul {
    li {
      line-height: 36px;
      position: relative;
      padding-left: 20px;

      &:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #999;
        left: 5px;
        top: 15px;
      }
    }
  }
}