/*
 * @Author: Liliang Zhu 
 * @Date: 2019-11-19 16:17:14 
 * @Last Modified by: Liliang Zhu
 * @Last Modified time: 2019-11-21 09:24:37
 */

@import 'components/common';

h1 {
  font-size: 30px;
  text-align: center;
}

.vip-type {
  text-align: center;
  font-size: 0;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;

  span {
    display: inline-block;
    font-size: 17px;
    width: 150px;
    background-color: #F4F4F4;
    cursor: pointer;

    &:first-child {
      border-radius: 10px 0 0 0;
    }

    &:last-child {
      border-radius: 0 10px 0px 0;
    }

    &.active {
      background-color: @theme-color;
      color: #fff;
    }
  }
}

.vip-wraps {
  height: 270px;
  width: 99.99%;
  position: relative;
  border: 1px solid #EBEBEB;
  ul {
    height: 100px;
    background-color: @theme-color;
    display: none;

    &.active {
      display: flex;
    }

    .item {
      flex: 1;
      height: 100%;
      padding: 20px 0;
      border-radius: 20px 20px 0 0;
      background-color: @theme-color;
      cursor: pointer;

      &:first-child {
        border-radius: 0 20px 0 0;
        .item-title {
          i.i-left {
            display: none;
          }
        }
      }

      &:last-child {
        border-radius: 20px 0 0 0;

        .item-title {
          &::after {
            display: none;
          }
          i.i-right {
            display: none;
          }
        }
      }

      &.active {
        background-color: #fff;
        
        .item-title {
          color: #333;

          &::after {
            display: none;
          }

          i {
            display: block;
          }
        }

        .item-infos {
          display: block;
        }
      }

      .item-title {
        text-align: center;
        position: relative;
        color: #fff;
        height: 60px;

        .title {
          font-size: 22px;
          font-weight: 400;
        }

        &::after {
          content: "";
          position: absolute;
          right: -1px;
          top: 0;
          height: 100%;
          width: 1px;
          background-color: #fff;
        }

        i {
          display: none;
          &.i-right {
            position: absolute;
            right: -20px;
            bottom: -20px;
            border-bottom: 20px solid #fff;
            border-right: 20px solid transparent;
            &::before {
              content: "";
              position: absolute;
              width: 40px;
              height: 40px;
              background-color: @theme-color;
              border-radius: 20px;
              left: 0px;
              top: -20px;
            }
          }
          
          &.i-left {
            position: absolute;
            left: -20px;
            bottom: -20px;
            border-bottom: 20px solid #fff;
            border-left: 20px solid transparent;
            &::before {
              content: "";
              position: absolute;
              width: 40px;
              height: 40px;
              background-color: @theme-color;
              border-radius: 20px;
              right: 0px;
              top: -20px;
            }
          }
        }
      }

      .item-infos {
        position: absolute;
        width: 100%;
        height: 170px;
        top: 100px;
        left: 0;
        padding: 40px 0 0;
        display: none;

        .price {
          float: left;
          width: 33%;
          text-align: center;
          margin-right: 50px;
          margin-top: 10px;
  
          span {
            font-size: 30px;
            color: @money-color;
          }

        }
  
        ol {
          overflow: hidden;
          
          &.ol-fl {
            li {
              float: left;
              width: 50%;
            }
          }

          li {
            font-size: 16px;
            line-height: 2;
            position: relative;
            padding-left: 20px;
  
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -5px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: @theme-color;
            }
          }
        }
      }
    }
  }
}

.pay-box {
  margin-top: 35px;
  padding: 30px 0;
  border: 1px solid #E8E8E8;

  section {
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #fff;
  }

  .coupon {
    float: left;
    width: 560px;
    padding-bottom: 30px;
    border-right: 1px solid #E8E8E8;

    .title {
      font-size: 18px;
      line-height: 60px;

      em {
        font-size: 14px;
        color: #999;
      }

    }

    ul {
      height: 180px;
      overflow: hidden;
      padding-right: 4px;
      overflow-y: auto;

      &::-webkit-scrollbar-track {
        background-color: #eee;
      }

      &::-webkit-scrollbar {
        width: 6px;
        background-color: #eee;
      }

      &::-webkit-scrollbar-thumb {
        background-color: @theme-color;
      }

      &>p {
        font-size: 20px;
        text-align: center;
        color: #999;
        line-height: 160px;
      }

      li {
        float: left;
        width: 49%;
        height: 80px;
        position: relative;
        overflow: hidden;
        margin-right: 10px;
        margin-top: 20px;
        padding: 15px 0;
        box-sizing: border-box;
        border-radius: 5px 0 0 5px;
        color: #fff;
        cursor: pointer;
        user-select: none;

        &:before {
          content: "";
          position: absolute;
          left: 5px;
          bottom: 5px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #fff;
        }

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 100%;
          top: 0px;
          right: -4px;
          border-right: 8px dotted #fff;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }

        &:nth-child(-n+2) {
          margin-top: 0;
        }

        &.hundred {
          background-color: #FFB400;

          .time-price {
            span {
              color: #FFB400;
            }
          }
        }

        &.twenty {
          background-color: #FF8939;

          .time-price {
            span {
              color: #FF8939;
            }
          }
        }

        &.ten {
          background-color: #B4AD9A;

          .time-price {
            span {
              color: #B4AD9A;
            }
          }
        }

        &.five {
          background-color: #D5B29A;

          .time-price {
            span {
              color: #D5B29A;
            }
          }
        }

        &.active {
          .use {
            display: block;
          }
        }

        .use {
          position: absolute;
          height: 18px;
          width: 70px;
          text-align: center;
          background-color: @money-color;
          line-height: 16px;
          font-size: 12px;
          right: -18px;
          top: 9px;
          transform: rotate(45deg);
          display: none;
        }

        .price {
          float: left;
          height: 50px;
          line-height: 50px;
          width: 105px;
          border-right: 1px dashed #fff;
          text-align: center;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            right: -7px;
            bottom: -22px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #fff;
          }

          em {
            font-size: 40px;
            vertical-align: top;
          }

        }

        .time-price {
          span {
            display: inline-block;
            padding: 0 10px;
            font-size: 12px;
            background-color: #fff;
            height: 20px;
            line-height: 20px;
            border-radius: 10px;
            margin-top: 5px;
          }
        }

        overflow: hidden;
        text-align :center;
      }
    }
  }
}

.pay {
  width: 630px;
  height: 270px;
  float: right;

  .should-pay {
    line-height: 60px;
    text-align: center;
    font-size: 18px;

    span {
      color: @money-color;
      font-size: 24px;
    }

  }

  .ewm-box {
    display: inline-block;
    width: 160px;
    margin: 0 18px;

    .ewm {
      height: 160px;
      width: 100%;
      border: 1px solid #E8E8E8;
      padding: 15px;
      box-sizing: border-box;

      img {
        width: 100%;
        height: 100%;
      }
    }


    .paypal {
      height: 160px;
      line-height: 160px;
      text-align: center;
      font-size: 0;
      position: relative;

      span {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 25px;
        color: @money-color;
        text-align: center;
        font-size: 14px;
        line-height: 2;
      }

      img {
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
      }

    }

    p {
      line-height: 40px;
      text-align: center;

      img {
        vertical-align: middle;
        margin-right: 5px;
      }

      i {
        margin-right: 5px;
        font-size: 20px;
        vertical-align: text-bottom;
      }

      .icon-wxpay {
        color: #00B700;
      }

    }

  }

  .to-login {
    height: 160px;
    width: 100%;
    border: 1px solid #E8E8E8;
    padding: 15px;
    box-sizing: border-box;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    p {
      position: absolute;
      width: 128px;
      height: 128px;
      top: 15px;
      left: 15px;
      background-color: rgba(0, 0, 0, .8);
      color: #fff;
      line-height: 128px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.recharge-tips {
  h3 {
    font-size: 20px;
    margin: 30px 0 20px;
  }

  ul {
    li {
      line-height: 36px;
      position: relative;
      padding-left: 20px;

      &:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #999;
        left: 5px;
        top: 15px;
      }
    }
  }
}