{% extends 'inc/base_material.twig' %}
{% import "components/material.twig" as component %}

{% block css %}
  <link rel="stylesheet" href="css/material-atlas-content.min.css">
{% endblock %}

{% block content %}
  <main>
    <section class="atlas-info">
      <h1>{{ special_info.title }}</h1>
      <span class="num">共{{ special_info.num }}张图片</span>
      <p class="desc">{{ special_info.description }}</p>
    </section>
    {{ component.waterfall(special_list) }}
  </main>
{% endblock %}

{% block script %}
  <script src="js/material-atlas-content.min.js"></script>
{% endblock %}