section.waterfall {
  margin: 0 5%;

  .material-waterfall_list {
    width: 100%;
    overflow: hidden;

    li {
      width: 48%;
      float: left;

      img {
        width: 100%;
      }
    }
  }
}