{% extends 'inc/base.twig' %}
{% import "components/video.twig" as component %}

{% block css %}
  <link rel="stylesheet" href="css/search-video.min.css">
{% endblock %}

{% block header %}
  <div class="header-search">
    <form>
      <button><i class="icon-search"></i></button>
      <input type="text" placeholder="请您输入想要搜索的词或关键字">
      <input type="hidden" name="type" value="vall">
    </form>
    <div class="cancel">取消</div>
  </div>
{% endblock %}

{% block content %}
  <main>
    <section class="hot-search">
      <h2>热门搜索</h2>
      <div class="hot-box">
        {% for item in hot_keyword %}
          <a href="/search/vall_{{ item.keyword }}.html">{{ item.keyword }}</a>
        {% endfor %}
      </div>
    </section>
    <section class="search-history">
      <div class="title-del">历史搜索
        <span class="del-history fr">删除历史</span>
      </div>
      <div class="history-box">

      </div>
      <p class="no-history">暂无历史记录</p>
    </section>
    {% if video_special_data %}
      <section class="boutique-soft">
        <h2>猜你喜欢</h2>
        {{ component.topic(video_special_data) }}
      </section>
    {% endif %}
  </main>
{% endblock %}

{% block script %}
  <script src="js/search-video.min.js"></script>
{% endblock %}
