@media screen and (max-width: 1253px) {
	header {
		.other-search {
			display: none;
		}
	}
}

@media screen and (max-width: 1100px) {
	header {
		&.fixed {
			.head .head-other div.other-search {
				display: none;
			}
		}
		.head {
			.head-top, .head-bot {
				padding: 0 20px !important;
			}
			.head-other .other-search form {
				right: 150px !important;
			}
			.other-shoping {
				display: none !important;
			}
			nav.head-menu {
				width: 100%;
			}
		}
	}
	footer {
		height: auto !important;
		.foot {
			div.foot-nav {
				display: none;
			}
			div.foot-copyright {
				width: 100%;
				p {
					margin: 0 auto;
					text-align: center;
				}
			}
		}
	}
}

@media screen and (max-width: 980px) {
	header .head {
		.head-mobile-menu {
			display: block;
		}
		.head-logo {
			display: none;
		}
	}
	footer .footer {
		.footer-nav {
			display: none;
		}
		.footer-copyright {
			width: 100%;
			float: unset;
			text-align: center;
			padding: 0 20px;
		}
	}
}

@media screen and (max-width: 700px) {
	main {
		padding-top: 80px;
	}
	header {
		height: auto !important;
		position: fixed;
		z-index: 99;
		&.fixed {
			background-color: #333;
			.head .head-top .head-login .login-logined .head-user.active .user-function {
				display: none !important;
			}
			.head .head-other .other-search form {
				bottom: -56px !important;
			}
			.head .head-other div.other-search {
				display: block;
			}
			.head-mobile-menu .menu-box span {
				border-color: #fff !important;
				&:after, &:before {
					background-color: #fff !important;
				}
			}
			.head .head-top .head-login .login-unlogin {
				color: #fff;
				span.login-btn {
					color: #fff;
				}
			}
		}
		.head {
			.head-bot {
				height: 0 !important;
			}
			.head-menu {
				display: none !important;
			}
			.head-other .other-search form {
				width: 200px !important;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	header {
		.head {
			.head-top .head-login .login-unlogin span.login-btn {
				padding: 0;
			}
			.head-mobile-menu {
				a {
					display: none;
				}
				.menu-box {
					display: inline-block;
					margin-left: 0;
				}
			}
		}
	}
	main .pagination {
		margin: 30px 10px;
		a {
			border-right: 1px solid #e5e5e3;
			margin: 5px;
		}
	}
	header {
		.head {
			.head-other .other-search form {
				right: 85px !important;
			}
		}
	}
}

@media screen and (max-width: 370px) {
	header .head-login {
		display: none;
	}
	header .head .head-other .other-search form {
		right: 0 !important;
	}
}
