@media screen and (max-width: 1200px)
    section.list-content
        margin-right 50px
@media screen and (max-width: 850px)
	main.clearfix 
		padding-left 0
		aside.list-map
			display none
		.list-content
			width auto 
			margin 0 20px
			.list-filter .filter-wrap
				line-height 40px
		.search-tips .fr 
			display none