@media screen and (max-width: 1200px)
    main .pack-content
        margin 0 20px

@media screen and (max-width: 1024px)
    main .pack-content .pack-filter .filter-wrap form
        display none

@media screen and (max-width: 980px) 
    main .pack-content .pack-filter .filter-wrap .filter-item:last-child
        display none

@media screen and (max-width: 460px)
    div.breakcrumbs
        margin -200px 20px 0
    section 
        &.pack-content    
            .hasicons
                margin 20px 0
            .pack-info h1 
                margin-bottom 10px
            .pack-filter
                display none    