{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
<link rel="stylesheet" href="css/rank.min.css">
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="breakhumbs">
      <a href="/">首页</a>
      &gt; <a href="/rank/soft.html"> 排行榜</a>
      &gt; <span> {% if nav == 'soft' %}软件{% else %}游戏{% endif %}</span>
    </div>
    <h1>排行榜单</h1>
    <div class="rank-nav">
      <a href="/rank/soft.html" {% if nav == 'soft' %}class="active" {% endif %}>软件</a>
      <a href="/rank/game.html" {% if nav == 'game' %}class="active" {% endif %}>游戏</a>
      <a href="/rank/cj.html">插件</a>
      <a href="/rank/mb.html">模板</a>
    </div>
    <section class="rank-soft">
      <ul class="toggle active clearfix">
        {{ component.soft(rank_info | slice(0, 20)) }}
      </ul>
      <ul class="toggle clearfix">
        {{ component.soft(rank_info | slice(20, 40)) }}
      </ul>
      {% if rank_info | length > 20 %}
      <div class="rank-pagi">
        <span class="active">&lt;</span>
        <span>&gt;</span>
      </div>
      {% endif %}
    </section>
  </div>
</main>

{% endblock %}

{% block script %}
<script src="js/rank.min.js"></script>
{% endblock %}