@import 'pack-content'

.pack-content .pack-filter .filter-wrap .filter-left
    .filter-item
        display inline-block
        vertical-align middle
        padding 0 15px
        height 20px
        line-height 20px
        border-right 1px solid #D1D1D1
        font-size 14px
        &:first-child
            padding-left 0
        &:last-child
            border none