{% extends 'inc/base.twig' %}
{% import "components/component.twig" as component %}

{% block add_css %}
<link rel="stylesheet" href="css/gather.min.css">
{% endblock %}

{% block content %}
<main>
    <div class="bg-placeholder"></div>
    <div class="breakcrumbs bgf">
        <lord-icon animation="auto" src="/assets/json/pos1.json"></lord-icon>
        <a href="/">首页</a>
        &gt; <span>推荐</span>
    </div>
    <section class="gather-list">
        <div class="gather-info tj">
            <h1>{{ pack_total }}套推荐图标包</h1>
            <p>可用于个人和商业用途，下载格式：SVG,PNG,EPS,ICO,PSD</p>
        </div>
       
        <ul class="icons-list">
            {{ component.pack(pack_data) }}
        </ul>

        <!-- 翻页 -->
        {{ component.pagi(pack_total, page, 24, '/t')}}
    </section>
</main>
{% endblock %}

{% block script %}
<script src="js/gather.min.js"></script>
{% endblock %}