.article-list() {
  width: 570px;
  padding: 30px 0;
  border-bottom: 1px solid #EFEFEF;
  float: left;
  margin-right: 60px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:hover {
    .con {
      .title {
        color: @theme-color;
      }
    }
  }

  .img {
    float: left;
    height: 100px;
    width: 133px;
    overflow: hidden;
    margin-right: 10px;

    img {
      height: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  .con {
    overflow: hidden;
    height: 100px;

    .title {
      .text-ovh;
      line-height: 24px;
      height: 24px;
      font-size: 18px;

      i {
        display: inline-block;
        vertical-align: top;
        width: 60px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        margin-right: 10px;
        background-color: @theme-color;
      }

      em {
        color: @theme-color;
      }
    }

    .desc {
      height: 3.2em;
      overflow: hidden;
      color: #999;
      margin: 5px 0;
    }

    .info {
      color: #ccc;

      span {
        i {
          margin-right: 5px;
        }

        &:last-child {
          float: right;
        }
      }
    }
  }
}