.topics-list() {
  float: left;
  width: 270px;
  height: 230px;
  margin-right: 40px;
  margin-top: 60px;
  border-radius: 10px;
  text-align: center;
  padding: 0 20px;
  .shadow;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-child(-n+4) {
    margin-top: 40px;
  }

  &:hover {

    .title,
    .desc {
      color: @theme-color;
    }
  }

  .imgs {
    height: 80px;
    padding-left: 25px;

    img {
      height: 100%;
      width: 80px;
      display: inline-block;
      position: relative;
      margin-left: -25px;

      &:nth-child(2) {
        transform-origin: center;
        transform: scale(1.25) translateY(-18px);
        z-index: 2;
      }
    }
  }

  .title {
    .text-ovh;
    font-size: 20px;
    margin: 20px 0;
  }

  .desc {
    height: 3.2em;
    overflow: hidden;
    color: #666;
  }
}